<div class="dropdown category-dropdown show is-on" data-visible="true">
    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-display="static" title="Browse Categories">
        Browse Categories
    </a>
    <div class="dropdown-menu show">
        <nav class="side-nav">
            <ul class="menu-vertical sf-arrows">
                @foreach($categoriesWithProducts2 as $category)
                                        <li class="megamenu-container">
                                            <a class="sf-with-ul" href="#">{{ $category->name }}</a>
                                            <div class="megamenu">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        @php
                                                            $relatedSubcategories = $productSubcategory2->where('category_id', $category->id)->take(3);
                                                            $relatedProducts = $productList2->where('category_id', $category->id)->take(5);
                                                        @endphp
                                
                                                        <div class="col-md-4">
                                                            @foreach($relatedSubcategories as $subcategory)
                                                            <div class="menu-title">{{ $subcategory->name }}</div><!-- End .menu-title -->
                                                            @endforeach
                                                            <ul>
                                                                @foreach($relatedProducts as $product)
                                                                    <li><a href="#">{{ $product->name }}</a></li>
                                                                @endforeach
                                                                @if($relatedSubcategories->isEmpty() && $relatedProducts->isNotEmpty())
                                                                    <li><a href="#">Related Products</a></li>
                                                                @endif
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            @foreach($relatedSubcategories as $subcategory)
                                                            <div class="menu-title">{{ $subcategory->name }}</div><!-- End .menu-title -->
                                                            @endforeach
                                                            <ul>
                                                                @foreach($relatedProducts as $product)
                                                                    <li><a href="#">{{ $product->name }}</a></li>
                                                                @endforeach
                                                                @if($relatedSubcategories->isEmpty() && $relatedProducts->isNotEmpty())
                                                                    <li><a href="#">Related Products</a></li>
                                                                @endif
                                                            </ul>
                                                        </div>                                                        <div class="col-md-4">
                                                            @foreach($relatedSubcategories as $subcategory)
                                                            <div class="menu-title">{{ $subcategory->name }}</div><!-- End .menu-title -->
                                                            @endforeach
                                                            <ul>
                                                                @foreach($relatedProducts as $product)
                                                                    <li><a href="#">{{ $product->name }}</a></li>
                                                                @endforeach
                                                                @if($relatedSubcategories->isEmpty() && $relatedProducts->isNotEmpty())
                                                                    <li><a href="#">Related Products</a></li>
                                                                @endif
                                                            </ul>
                                                        </div><!-- End .col-md-4 -->
                                                    </div><!-- End .row -->
                                
                                                    <div class="row menu-banners">
                                                            <div class="col-md-4">
                                                                <div class="banner">
                                                                    <a href="#">
                                                                        <img src="{{ asset($product->image_path) }}" alt="{{ $product->name }}" style="width: 100% ; height: 100%;">
                                                                    </a>
                                                                </div><!-- End .banner -->
                                                            </div><!-- End .col-md-4 -->
                                                            <div class="col-md-4">
                                                                <div class="banner">
                                                                    <a href="#">
                                                                        <img src="{{ asset($product->image_path) }}" alt="{{ $product->name }}" style="width: 100% ; height: 100%;">
                                                                    </a>
                                                                </div><!-- End .banner -->
                                                            </div><!-- End .col-md-4 -->
                                                            <div class="col-md-4">
                                                                <div class="banner">
                                                                    <a href="#">
                                                                        <img src="{{ asset($product->image_path) }}" alt="{{ $product->name }}" style="width: 100% ; height: 100%;">
                                                                    </a>
                                                                </div><!-- End .banner -->
                                                            </div><!-- End .col-md-4 -->
                                                    </div>
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .megamenu -->
                                        </li>
                 @endforeach
            </ul>
        </nav><!-- End .side-nav -->
    </div><!-- End .dropdown-menu -->
</div><!-- End .category-dropdown -->